:root {
    --md-primary-fg-color:        #3C388D;
    --md-primary-fg-color--light: #3C388D;
    --md-primary-fg-color--dark:  #3C388D;
    --md-accent-fg-color:         #9FC53A;
    --md-primary-fg-color--light: #9FC53A;
    --md-primary-fg-color--dark:   #9FC53A;

}