:root {
    --md-primary-fg-color:        #652580;
    --md-primary-fg-color--light: #652580;
    --md-primary-fg-color--dark:  #652580;
    --md-accent-fg-color:         #9FC53A;
    --md-primary-fg-color--light: #9FC53A;
    --md-primary-fg-color--dark:   #9FC53A;
    
}